<a href="https://colab.research.google.com/github/HuyenNguyenHelen/INFO-5505---Machine-learning/blob/main/HuyenNguyen_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3: K-means clustering
Dataset: [Amyotrophic Lateral Sclerosis (ALS)](https://)

In [1]:
# Import primary libraries
import pandas as pd

## Loading the dataset and exploratory analysis

In [2]:
# Load the dataset
data = pd.read_csv('/content/ALS_TrainingData_2223.csv')
data.head()

   ID  Age_mean  Albumin_max  ...  Urine.Ph_max  Urine.Ph_median  Urine.Ph_min
0   1        65         57.0  ...           6.0              6.0           6.0
1   2        48         45.0  ...           7.0              5.0           5.0
2   3        38         50.0  ...           6.0              5.0           5.0
3   4        63         47.0  ...           7.0              6.0           5.0
4   5        63         47.0  ...           6.0              5.0           5.0

[5 rows x 101 columns]

In [4]:
# Print feature names
print([name for name in data.columns])

['ID', 'Age_mean', 'Albumin_max', 'Albumin_median', 'Albumin_min', 'Albumin_range', 'ALSFRS_slope', 'ALSFRS_Total_max', 'ALSFRS_Total_median', 'ALSFRS_Total_min', 'ALSFRS_Total_range', 'ALT.SGPT._max', 'ALT.SGPT._median', 'ALT.SGPT._min', 'ALT.SGPT._range', 'AST.SGOT._max', 'AST.SGOT._median', 'AST.SGOT._min', 'AST.SGOT._range', 'Bicarbonate_max', 'Bicarbonate_median', 'Bicarbonate_min', 'Bicarbonate_range', 'Blood.Urea.Nitrogen..BUN._max', 'Blood.Urea.Nitrogen..BUN._median', 'Blood.Urea.Nitrogen..BUN._min', 'Blood.Urea.Nitrogen..BUN._range', 'bp_diastolic_max', 'bp_diastolic_median', 'bp_diastolic_min', 'bp_diastolic_range', 'bp_systolic_max', 'bp_systolic_median', 'bp_systolic_min', 'bp_systolic_range', 'Calcium_max', 'Calcium_median', 'Calcium_min', 'Calcium_range', 'Chloride_max', 'Chloride_median', 'Chloride_min', 'Chloride_range', 'Creatinine_max', 'Creatinine_median', 'Creatinine_min', 'Creatinine_range', 'Gender_mean', 'Glucose_max', 'Glucose_median', 'Glucose_min', 'Glucose_range', 'hands_max', 'hands_median', 'hands_min', 'hands_range', 'Hematocrit_max', 'Hematocrit_median', 'Hematocrit_min', 'Hematocrit_range', 'Hemoglobin_max', 'Hemoglobin_median', 'Hemoglobin_min', 'Hemoglobin_range', 'leg_max', 'leg_median', 'leg_min', 'leg_range', 'mouth_max', 'mouth_median', 'mouth_min', 'mouth_range', 'onset_delta_mean', 'onset_site_mean', 'Platelets_max', 'Platelets_median', 'Platelets_min', 'Potassium_max', 'Potassium_median', 'Potassium_min', 'Potassium_range', 'pulse_max', 'pulse_median', 'pulse_min', 'pulse_range', 'respiratory_max', 'respiratory_median', 'respiratory_min', 'respiratory_range', 'Sodium_max', 'Sodium_median', 'Sodium_min', 'Sodium_range', 'SubjectID', 'trunk_max', 'trunk_median', 'trunk_min', 'trunk_range', 'Urine.Ph_max', 'Urine.Ph_median', 'Urine.Ph_min']

In [5]:
# Explore the dataset
data.describe()

                ID     Age_mean  ...  Urine.Ph_median  Urine.Ph_min
count  2223.000000  2223.000000  ...      2223.000000   2223.000000
mean   1214.874944    54.550157  ...         5.710639      5.183221
std     696.678300    11.396546  ...         0.625039      0.437222
min       1.000000    18.000000  ...         5.000000      5.000000
25%     614.500000    47.000000  ...         5.000000      5.000000
50%    1213.000000    55.000000  ...         6.000000      5.000000
75%    1815.500000    63.000000  ...         6.000000      5.000000
max    2424.000000    81.000000  ...         9.000000      8.000000

[8 rows x 101 columns]

Looking at min, max, and standard deriviation, we see that data have different value scales/ranges. K-means clustering algorithm implements Eclidean distance to calculate distance among data points that greater values have stronger influence. For example, the weight is normally more influencial. Therefore, standardization is an important step in k-means clustering. We will be rescaling our dataset below: